<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto" >
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="mb-3">
        <%= f.label :email, class: 'form-label',autofocus: true, autocomplete: "email" %>
        <span style="color: red;">*</span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <%= f.label :first_name, class: 'form-label', autocomplete: "email" %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <%= f.label :last_name, class: 'form-label', autocomplete: "email" %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>
      </div>

        <div class="mb-3">
        <%= f.label :phone, class: 'form-label', autocomplete: "email" do %>
          <%= 'Phone' %><span style="color: red;"> *</span>
        <% end %>
        
        <%= f.text_field :phone, class: 'form-control' %>
      </div>


      <div class="mb-3">
        <%= f.label :gender, class: 'form-label' %>
        <%= f.select :gender, ['Male', 'Female', 'Other'], { prompt: 'Select gender' }, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: 'form-label' %>
        <span style="color: red;">*</span>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, class: 'form-label' %>
        <span style="color: red;">*</span>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="mb-3 mx-auto">
        <%= recaptcha_tags %>
        <%= flash.now[:errors] %>
      </div>
        
      <%= f.submit 'Register',data: { turbo: false } , class: 'btn btn-primary' %>
      <button class="btn btn-primary" >
        <%= link_to "Sign in", root_path %>
      </button>
    <% end %>
    </div>
  </div>
</div>