<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h2 class="text-center">Log in</h2>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form"}) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'form-label'  %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <p class="alert"><%= alert %></p> 
        <div class='d-flex justify-content-between mt-1'>
          <% if devise_mapping.rememberable? %>
            <div class="form-group form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label form-label" %>
            </div>
          <% end %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </div>
  
        <div class="text-center">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 text-center mt-3">
      <span>Don't have a account? <%= link_to "Create an account", new_registration_path(resource_name) %></span><br>
      <p class='mt-3 mb-3'> Or </p>
      
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: 'btn-Google' do %>
            <%= image_tag('btn_google_signin_light_normal_web.png') %>
          <% end %><br />
        <% end %>
      <% end %>
    </div>
  </div>
</div>